nav.navBar{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
#disclaimerLine {
    width: 100%;
    position: fixed;
    clear: both;
}
.mainForm {
    text-align: center;
}
.submittedInfo {
    text-align: center;
}

