<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/frags :: head"></head>
<body>
    <div>
        <div th:if="${not #lists.isEmpty(logOutput)}">
            <form action="#" th:action="@{/testinput}" th:object="${logOutput}" method="post">
                <p>
                    Name of resource: <input type="text" th:field="*{resourceName}">
                </p>
                <p>
                    Error: <input type="text" th:field="*{error}">
                </p>
                <p>
                    Description: <input type="text" th:field="*{description}">
                </p>
                <p>
                    <input type="submit" value="Submit"/> <input type="reset" value="Reset">
                </p>
            </form>

        <div th:replace="fragments/frags :: disclaimer"></div>
    </div>
</body>
</html>