<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/frags :: head"></head>
<body>
    <div>
        <h3>
            Today is
            <span th:text="${#temporals.format(#temporals.createNow(), 'MM-dd-yyyy')}"></span>
        </h3>

        <div th:if="${not #lists.isEmpty(problem)}">
            <form action="#" th:action="@{/}" th:object="${problem}" method="post">

                <input type="hidden" th:text="${#temporals.format(#temporals.createNow(), 'MM-dd-yyyy')}" th:field="*{date}"></input>

                <label for="resourceList">
                    Name of resource:
                </label>
                <br/>

<!--                * - mean this form-->
<!--                {resourceName} - where it will go in the form-->
                <select th:field="*{resourceName}" id="resourceList">

                    <option th:each="r,mStat : ${resourceList}"
<!--                            $ - it's a model passed to this form-->
<!--                            {resourceName} - ti's a name inside the model-->
<!--                            mStat - build in thymeleaf stuff-->
                            th:value="${mStat.count}"
                            th:text="${r.resourceName}">
                    </option>
                </select>

                <p>Time spend in minutes? </p>
                <input type="text" th:field="*{timeSpend}">

                <p>Reason: </p>
                <input type="text" th:field="*{reason}">

                <p>Which cell? </p>
                <input type="text" th:field="*{whichCell}">

                <p>Program name? </p>
                <input type="text" th:field="*{programName}">

                <p>Line number where problem/adjustments happened? </p>
                <input type="text" th:field="*{lineNumber}">

                <p>Initials who fixed the problem?</p>
                <input type="text" th:field="*{initials}">

                <p>
                    <input type="submit" value="Submit"/> <input type="reset" value="Reset">
                </p>
            </form>
        </div>
        <div th:replace="fragments/frags :: disclaimer"></div>
    </div>
</body>
</html>